*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    background-image: url(./medias/backgroundDark01L.webp);
}
.container{
    margin: 0 auto;
    max-width: 1920px;
}
.UEFA{
    font-size: 20px;
    color:black
}
.UEFA_Com2{
    text-decoration: none;
}
.Com{
    color: gray;
}
.UEFA_com{
    padding-right:550px;
    font-family: 'Geologica', sans-serif;
}
.first_header{
    width: 100%;
    background-color: gainsboro
}
ul{
    display: flex;
    align-items: center;
}
li{
    display: inline-block;
    padding-left: 50px;
    font-family: 'Roboto', sans-serif;
}
li:hover{
    color: darkturquoise;
}
.login_icon{
    width: 25px;
}
.uefa_logo{
    width: 100px;
    margin-top: 10px;
    align-items: center;
}
.Favourite_teams{
    margin-left: 300px;
    font-size: 17px;
    border-radius: 20px;
    padding: 10px;
    align-items: center;
    margin-top: 10px;
    background-color: #00004b;
    color: white;
    border-color: white;
    border: 1px solid;
}
.plus_button{
    width: 20px;
    vertical-align: middle;
    background-color: white;
    border-radius: 12px;
}
.second_header{
    width: 100%;
    background-color:#00004b;
    height: 70px;
    align-items:center;
}
.Matches{
    color: white;
    padding-top: 22px;
}
.Video{
    color: white;
    padding-top: 20px;
}
.Gaming{
    color: white;
    padding-top: 20px;
}
.Teams{
    color: white;
    padding-top: 20px;
}
.News{
    color: white;
    padding-top: 20px;
}
.History{
    color: white;
    padding-top: 20px;
}
.About{
    color: white;
    padding-top: 20px;
}
.Store{
    color: white;
    padding-top: 20px;
}
.news{
    padding-top: 30px;
    padding-left:55px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: white;
}
.wrapeer{
    display: grid;
    grid-template-columns: repeat(2fr,1fr,1fr);
    grid-auto-rows: 100px;
    gap: 30px;
}
.container2{
    padding-left: 50px;
    padding-right: 50px;
}
.box1{
    border:2px solid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    margin-top: 40px;
    border-radius: 10px;
    text-decoration: none;
    position: relative;
    border-color: gray;
}
.box2{
    border:  1px solid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
    margin-top: 40px;
    border-radius: 10px;
    text-decoration: none;
    background-color: white;
    border-color: white;

}
.box3{
    border:1px solid;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    margin-top: 40px;
    border-radius: 10px;
    background-color: white;
    border-color: white;
    text-decoration: none;
    
}
.box4{
    position: relative;
    border: 2px solid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 9;
    border-radius: 10px;
    border-color: gray;
}
.box5{
    border:1px solid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 9;
    border-radius: 10px;
    background-color: white;
    border-color: white;
    text-decoration: none;
}
.box6{
    border:1px solid;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 9;
    border-radius: 10px;
    background-color: white;
    border-color: white;
}
.box7{
    position: relative;
    border:2px  solid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 9;
    grid-row-end: 13;
    border-radius: 10px;
    border-color: gray;
    
}
.box8{
    border:1px solid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end:13;
    border-radius: 10px;
    background-color: white;
    border-color: white;

}
.box9{
    border:1px solid;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end:13;
    border-radius: 10px;
    background-color: white;
    border-color: white;
}
.champions_league_picture{
    position: relative;
    width: 100%;
    height: 445px;
    border-radius: 10px;
    object-fit: cover;   
}
.picture_div{
    overflow: hidden;
    border-radius: 10px;
}
.picture_div img{
    transition: transform 0.5s;
}
.picture_div:hover img{
    transform: scale(1.1);
    
}
.box1_paragrap{
    position: absolute;
    color:white;
    font-size: 25px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    bottom: 0;
    padding: 10px;

    
}
.messi_picture{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.box2_paragrap{
    font-size: 25px;
    padding-top: 20px;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
}
.messis_picture2{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 100%;
    object-fit: cover;
}
.messis_picture2_div{
    height:100px;
}
.box3_paragrap{
    font-size: 25px;
    padding-top: 20px;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
}
.picture_div3{
    overflow: hidden;
    border-radius: 10px;
    height: 210px;
}
.picture_div3 img{
    transition: transform 0.5s;
}
.picture_div3:hover img{
    transform: scale(1.1);
    
}

.kvras_picture{
    width: 100%;
    height: 485px;
    border-radius: 10px;
    object-fit: cover;
}
.box4_paragrap{
    position: absolute;
    color: white;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    bottom: 0;
    padding: 10px;
}
.ronaldos_picture{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}
.box5_paragrap{
    font-size: 25px;
    padding-top: 20px;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
}
.champions_league_cup{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 100%;
    object-fit: cover;
}
.champions_league_cup_div{
    height: 210px;
}
.box6_paragrap{
    font-size: 25px;
    padding-top: 20px;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
}
.picture_div6{
    overflow: hidden;
    border-radius: 10px;
    height: 210px;
}
.picture_div6 img{
    transition: transform 0.5s;
}
.picture_div6:hover img{
    transform: scale(1.1);
    
}

.team_of_season_picture{
    width: 100%;
    height: 485px;
    border-radius: 10px;
    object-fit: cover;
}
.box7_paragrap{
    position: absolute;
    font-size: 25px;
    padding-top: 20px;
    padding-left: 20px;
    color:white;
    font-family: 'Poppins', sans-serif;
    bottom: 0;
    padding: 10px;
}
.Milan_FC_Picture{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box8_paragrap{
    font-size: 25px;
    padding-top: 20px;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
}
.uefas_final_picture{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box9_paragrap{
    font-size: 25px;
    padding-top: 20px;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
}
.picture_div9{
    overflow: hidden;
    border-radius: 10px;
    height: 210px;
}
.picture_div9 img{
    transition: transform 0.5s;
}
.picture_div9:hover img{
    transform: scale(1.1);
    
}
.uefas_final_picture_div{
    height: 210px;
}
.footer_picture{
    padding-top: 50px;
    width: 100%;
}
.footer_picture_div{
    position: relative;
}

.uefas_logo2{
    position: absolute;
    left: 0;
    width: 180px;
    padding-top: 90px;
    padding-left: 80px;
}
.footer_paragrap1{
    position: absolute;
    top: 0;
    padding-left: 300px;
    padding-top: 100px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.footer_paragrap2{
    position: absolute;
    top: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding-left: 600px;
    padding-top: 100px;
}
.also_visit{
    font-size: 17px;
}
.footer_paragrap3{
    position: absolute;
    top: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding-left: 900px;
    padding-top: 100px;
}
.CHANGE_LANGUAGE{
    font-size: 17px;
}
.footer_paragrap4{
    position: absolute;
    top: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding-left: 1200px;
    padding-top: 100px;
}
.googleplay{
    position: absolute;
    top: 0;
    padding-top: 300px;
    padding-left: 1350px;
}
.appstore{
    position: absolute;
    top: 0;
    padding-top: 300px;
    padding-left: 1215px;
}
.footer_paragrap5{
    position: absolute;
    top: 0;
    display: flex;
    padding-top: 350px;
    color: white;
    font-family: 'Poppins', sans-serif;
    gap: 30px;
    padding-left: 470px;
}
.footer_paragrap6{
    position: absolute;
    top: 0;
    color: #ccc;
    font-family: 'Poppins', sans-serif;
    padding-left: 630px;
    padding-top: 410px;
    font-size: 12px;
}
.footer_paragrap7{
    position: absolute;
    top: 0;
    color: #ccc;
    font-family: 'Poppins', sans-serif;
    padding-left: 330px;
    padding-top: 425px;
    font-size: 12px;
}
.footer_paragrap8{
    position: absolute;
    top: 0;
    color: #ccc;
    font-family: 'Poppins', sans-serif;
    padding-left: 390px;
    padding-top: 440px;
    font-size: 12px;
}

