*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
}
.container{
    margin: 0 auto;
}
.UEFA{
    font-size: 20px;
    color:black
}
.UEFA_Com2{
    text-decoration: none;
}
.Com{
    color: gray;
}
.UEFA_com{
    padding-right:550px;
    font-family: 'Geologica', sans-serif;
}
.first_header{
    width: 100%;
    background-color: gainsboro
}
li{
    display: flex;
    display: inline-block;
    padding-left: 50px;
    font-family: 'Roboto', sans-serif;
}
li:hover{
    color: darkturquoise;
}
.login_icon{
    width: 25px;
}
.uefa_logo{
    width: 100px;
    margin-top: 10px;
    background-color: aliceblue;
    vertical-align: middle;
}
.Favourite_teams{
    margin-left: 300px;
    font-size: 17px;
    border-radius: 20px;
    padding: 10px;
    vertical-align: middle;
}
.plus_button{
    width: 20px;
    vertical-align: middle;
}
.second_header{
    width: 100%;
    background-color:#00004b;
    height: 70px;
}
.Matches{
    color: white;
    padding-top: 22px;
}
.Video{
    color: white;
}
.Gaming{
    color: white;
}
.Teams{
    color: white;
}
.News{
    color: white;
}
.History{
    color: white;
}
.About{
    color: white;
}
.Store{
    color: white;
}
.news{
    padding-top: 30px;
    padding-left:55px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
.wrapeer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 100px;
    gap: 30px;
}
.container2{
    padding-left: 50px;
    padding-right: 50px;
}
.box1{
    border: solid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    margin-top: 40px;
    border-radius: 10px;
}
.box2{
    border: solid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
    margin-top: 40px;
    border-radius: 10px;

}
.box3{
    border: solid;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    margin-top: 40px;
    border-radius: 10px;
    
}
.box4{
    border: solid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 9;
    border-radius: 10px;
}
.box5{
    border: solid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 9;
    border-radius: 10px;
}
.box6{
    border: solid;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 9;
    border-radius: 10px;
}
.box7{
    border: solid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 9;
    grid-row-end: 13;
    border-radius: 10px;
}
.box8{
    border: solid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end:13;
    border-radius: 10px;

}
.box9{
    border: solid;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end:13;
    border-radius: 10px;
}
.champions_league_picture{
    width: 607px;
    height: 445px;
    border-radius: 10px;
    position: absolute;
}
.box1_paragrap{
    position: relative;
    color: white;
    font-size: 25px;
    padding-top: 390px;
    text-decoration: none;
}
.messi_picture{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.box2_paragrap{
    font-size: 25px;
    padding-top: 20px;
    padding-left: 20px;
}
.messis_picture2{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box3_paragrap{
    font-size: 25px;
    padding-top: 20px;
    padding-left: 20px;
}

.kvras_picture{
    width: 607px;
    height: 485px;
    border-radius: 10px;
    position: absolute;
}
.box4_paragrap{
    position: relative;
    color: white;
    padding-top: 430px;
    font-size: 25px;
}
.ronaldos_picture{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box5_paragrap{
    font-size: 25px;
    padding-top: 20px;
    padding-left: 20px;
}
.champions_league_cup{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box6_paragrap{
    font-size: 25px;
    padding-top: 20px;
    padding-left: 20px;
}
.team_of_season_picture{
    position: absolute;
    width: 607px;
    height: 485px;
    border-radius: 10px;
}
.box7_paragrap{
    position: relative;
    font-size: 25px;
    padding-top: 20px;
    padding-left: 20px;
    padding-top: 450px;
    color: white;
}
.Milan_FC_Picture{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box8_paragrap{
    font-size: 25px;
    padding-top: 20px;
    padding-left: 20px;
}
.uefas_final_picture{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 370px;
}
.box9_paragrap{
    font-size: 25px;
    padding-top: 20px;
    padding-left: 20px;
}
.footer_picture{
    position: absolute;
    padding-top: 50px;
    width: 1519px;
}
.logo2{
    position: relative;
    width: 150px;
    padding-top: 100px;
    padding-left: 50px;
}
.footer_paragrap1{
    position: relative;
    padding-left: 100px;
    padding-top: 130px;
    color: white;
}
.footer_div{
    display: flex;
}
.footer_paragrap2{
    position: relative;
    color: white;
    padding-top: 130px;
    padding-left: 280px;
}
.also_visit{
    font-size: 15px;
   

}
.footer_paragrap3{
    position: relative;
    padding-left: 230px;
    padding-top: 130px;
    color: white;
}