*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
}
.container{
    margin: 0 auto;
}
.UEFA{
    font-size: 20px;
    color:black
}
.UEFA_Com2{
    text-decoration: none;
}
.Com{
    color: gray;
}
.UEFA_com{
    padding-right:550px;
    font-family: 'Geologica', sans-serif;
}
.first_header{
    width: 100%;
    background-color: gainsboro
}
li{
    display: flex;
    display: inline-block;
    padding-left: 50px;
    font-family: 'Roboto', sans-serif;
}
li:hover{
    color: darkturquoise;
}
.login_icon{
    width: 25px;
}
.uefa_logo{
    width: 100px;
    margin-top: 10px;
    background-color: aliceblue;
    vertical-align: middle;
}
.Favourite_teams{
    margin-left: 300px;
    font-size: 17px;
    border-radius: 20px;
    padding: 10px;
    vertical-align: middle;
}
.plus_button{
    width: 20px;
    vertical-align: middle;
}
.second_header{
    width: 100%;
    background-color:#00004b;
    height: 70px;
}
.Matches{
    color: white;
    padding-top: 22px;
}
.Video{
    color: white;
}
.Gaming{
    color: white;
}
.Teams{
    color: white;
}
.News{
    color: white;
}
.History{
    color: white;
}
.About{
    color: white;
}
.Store{
    color: white;
}
.news{
    padding-top: 30px;
    padding-left: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
.wrapeer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 100px;
    gap: 30px;
}
.box1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    margin-top: 40px;
    border-radius: 10px;
}
.box2{
    border: solid black;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
    margin-top: 40px;
    border-radius: 10px;

}
.box3{
    border: solid black;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    margin-top: 40px;
    border-radius: 10px;
    
}
.box4{
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 9;
    border-radius: 10px;
}
.box5{
    background-color: burlywood;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 9;
    border-radius: 10px;
}
.box6{
    background-color: darkcyan;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 9;
    border-radius: 10px;
}
.cup_picture{
    width: 740px;
    height: 448px;
    border-radius: 20px;
    position: absolute;
}
.box1_paragrap{
    position: relative;
    color: aliceblue;
    font-size: 30px;
    padding-left: 20px;
    padding-top: 370px;
}
.messi_picture{
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
}
.messi_picture:hover{
    transform: scale(1.1);
}
.messi_picture2{
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
}
.messi_picture2:hover{
    transform: scale(1.1);
}
.box2_paragrap{
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
}
.box3_paragrap{
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
}
