*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
}
.container{
    margin: 0 auto;
    max-width: 1920px;
}
.UEFA{
    font-size: 20px;
    color:black
}
.UEFA_Com2{
    text-decoration: none;
}
.Com{
    color: gray;
}
.UEFA_com{
    padding-right:550px;
    font-family: 'Geologica', sans-serif;
}
.first_header{
    width: 100%;
    background-color: gainsboro
}
ul{
    display: flex;
    align-items: center;
}
li{
    display: inline-block;
    padding-left: 50px;
    font-family: 'Roboto', sans-serif;
}
li:hover{
    color: darkturquoise;
}
.login_icon{
    width: 25px;
}
.uefa_logo{
    width: 100px;
    margin-top: 10px;
    align-items: center;
}
.Favourite_teams{
    margin-left: 300px;
    font-size: 17px;
    border-radius: 20px;
    padding: 10px;
    align-items: center;
    margin-top: 10px;
    background-color: #00004b;
    color: white;
    border-color: white;
    border: 1px solid;
}
.plus_button{
    width: 20px;
    vertical-align: middle;
    background-color: white;
    border-radius: 12px;
}
.second_header{
    width: 100%;
    background-color:#00004b;
    height: 70px;
    align-items:center;
}
.Matches{
    color: white;
    padding-top: 22px;
}
.Video{
    color: white;
    padding-top: 20px;
}
.Gaming{
    color: white;
    padding-top: 20px;
}
.Teams{
    color: white;
    padding-top: 20px;
}
.News{
    color: white;
    padding-top: 20px;
}
.History{
    color: white;
    padding-top: 20px;
}
.About{
    color: white;
    padding-top: 20px;
}
.Store{
    color: white;
    padding-top: 20px;
}
.fourth_page{
    padding-left: 50px;
}
.favourite_opponents{
    color: #30316e;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    padding-top: 50px;
}
.fourth_page_date{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #9192b3;
    padding-top: 20px;
}
.pictures_title{
    font-size: 25px;
    padding-top: 50px;
    color: #606190;
    font-family: 'Poppins', sans-serif;
}
.fourth_page_picture{
    width: 1100px;
    padding-top: 40px;
}
.fourth_page_paragrap{
    font-size: 20px;
    padding-top: 50px;
    font-family: 'Poppins', sans-serif;
    line-height: 28px;
}
.messis_all_goal{
    color: #30316e;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    padding-top: 50px;
}
.messis_goals{
    padding-top: 50px;
}
.go_back{
    color: blue;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
}
.go_back_a{
    text-decoration: none;
}
.footer_picture{
    width: 100%;
}
.footer_picture_div{
    width: 100%;
    height: 100%;
}
.footer_relative_div{
    position: relative;
    margin-top: 50px;
    
}
.uefas_logo2{
    width: 100px;
}
.footer_paragrap{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 0;
    padding:50px;
    flex-wrap: wrap;

}
.footer_paragrap1{
    color: white;
    font-family: 'Poppins', sans-serif;
}
.aikons_div{
    flex-wrap: wrap;
}
.footer_paragrap2{
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    padding-top: 50px;
    justify-content: space-between;

}
.Privacy{
    padding-left: 350px;
}
.Terms{
    padding-left: 100px;
}
.policy{
    padding-left: 100px;
}
.Settings{
    padding-left: 100px;
}
.footer_content{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.footer_paragrap3{
    color: white;
    padding-top: 140px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}
.footer_paragrap7{
    padding-right: 20px;
    padding-left:230px;
    color: #ccc;
}
.footer_paragrap8{
padding-left: 290px;
color: #ccc;
}
.footer_paragrap6{
    padding-left: 580px;
 color: #ccc;;
}